@{
    ViewBag.Title = "Контактная информация";
    ViewBag.Description = "Мы находимся в Санкт-Петербурге";
    ViewBag.Keywords = "Информация контактная интернет-магазин Tourstore";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<address>
    Россия<br />
    Санкт-Петербург, 3-я улица Строителей, дом 25<br />
    <abbr title="Phone">P:</abbr>
    8-800-555-35-35
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tourstore@example.com">tourstore@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

